
h1 {
  font-family: sans;
  font-size: 18px;
}

.notification-close-box {
    position: absolute;
    left: 284px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-image:url("closebox.png");
    border:none;
}

.notification-close-box:hover {
    position: absolute;
    left: 284px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-image:url("closebox2.png");
    border:none;
}

#notification {
    border-radius: 5px;
    position: fixed;
    top: 3px;
    left: 3px;
    width: 300px;
    background: #eecc2b;
    opacity: 0.9;
    z-index: 100;
    font-family: sans;
    font-size: small;
}

#notification table tr td {
  vertical-align: top;
}

#notification table tr th {
  text-align: left;
}

.notify-error {
    color: red;
}