
body {
    font-size: 10px;
    font-family: sans;
}

h1 {
  font-family: sans;
  font-size: 18px;
}

button#notificationClose .ui-button-text {
    padding: 0;
    border: 0;
}

#notification {
    border-radius: 5px;
    position: fixed;
    top: 3px;
    left: 3px;
    width: 300px;
    background: #eecc2b;
    opacity: 0.9;
    z-index: 100;
    font-family: sans;
    font-size: small;
}

button.notify-unread {
    background: orange;
}

#notification table tr td {
  vertical-align: top;
}

#notification table tr th {
  text-align: left;
}

.notify-error {
    color: red;
}

.headline {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #555566;
}

.headline h1 {
    display: inline;
    text-align: center;
    color: white;
    width: 100%;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 20px;
}

label, input {
  display: block;
}

input.text { 
    margin-bottom:12px; 
    width:95%; 
    padding: .4em; 
}
