
body {
    font-size: 10px;
    font-family: sans;
}

h1 {
  font-family: sans;
  font-size: 18px;
}

button#notificationClose .ui-button-text {
    padding: 0;
    border: 0;
}

#notification {
    border-radius: 5px;
    position: fixed;
    top: 3px;
    left: 3px;
    width: 300px;
    background: #eecc2b;
    opacity: 0.9;
    z-index: 100;
    font-family: sans;
    font-size: small;
}

button.notify-unread {
    background: orange;
}

#notification table tr td {
  vertical-align: top;
}

#notification table tr th {
  text-align: left;
}

.notify-error {
    color: red;
}

.headlineright {
    display: inline;
    float: right;
    margin-left: auto;
    margin-right: 0px;
}

.loadingstatus {
    color: white;
    display: none;
}

.loadingstatus img {
    vertical-align: middle;
}

.headline {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #555566;
}

.headline h1 {
    display: inline;
    text-align: center;
    color: white;
    width: 100%;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 20px;
}

label, input {
  display: block;
}

input.text { 
    margin-bottom:12px; 
    width:95%; 
    padding: .4em; 
}

.slick-row.selected {
    /*background: #ff0000;*/
  background: -webkit-linear-gradient(top, #1a82f7, #2F2727);
}

.slick-row.selected .cell-selection {
    background-color: transparent;
}

/* headers for the summary view */

table.summarytable {
    border-spacing: 0;
}

.summarytable tr th {
    text-align: left;
}

tr.detailcell {
    border: 0px;
}

.summarytable tr td {
    margin-left: 2px;
    margin-right: 2px;
    border-right: 1px solid black;
}

.summarytable tr.selected {
    background: #ccc;
}

.summarytable tr.detailrow {
    border: 0;
    margin: 0;
}

.summarytable tbody tr.selected {
    background: -webkit-linear-gradient(top, #e3d7d7, #2080f8);
}

.summarytable tbody tr.selected {
    background: -webkit-linear-gradient(top, #e3d7d7, #2080f8);
}

/* .summarytable tbody tr:hover {
    background: #ff8080;
} */

.summarytable tbody tr.selected td {
    background-color: transparent;
}

.summarytable tr.detailrow td {
    border: 0;
    margin: 0;
}


/* the detail view div */

div.detailview {
    margin-left: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #888;
}

div.detailview table {
    margin-left: 20px;
    background: #ccc;
}

div.detailview table tr even {
}

div.detailview h3 {
  margin-left: 3px;
}
